.magnify-outer {
}
.magnify-outer .main-icon p {
  margin-bottom: 0;
}
.magnify-outer .title {
  max-width: 838px;
}
.magnify-outer .box-heading {
  padding-bottom: 10px;
  border-bottom: 1px solid #00000033;
}
.magnify-outer .box-heading.right-box {
  padding-bottom: 0px;
  border-bottom: 0px solid #00000033;
}
.magnify-outer .box-heading .title p {
  font-size: 13px;
  color: #707070;
  margin: 0;
}
.magnify-outer .box-heading .graph-btn {
  width: 100%;
  font-size: 17px;
  font-weight: 600;
  line-height: 24px;
  height: 33px;

  padding: 3px 90px 5px 10px;
}
.magnify-outer .right-bar .form-btn {
  padding: 9px 20px;
}
.magnify-outer .box-heading .graph-btn:hover {
  background: transparent linear-gradient(180deg, #3362a3 0%, #26416c 100%) 0%
    0% no-repeat padding-box;
  box-shadow: 0px 3px 10px #00000033 !important;
  color: #fff !important;
}
.magnify-outer .box-selector .budget-btn {
  /* width: 133px; */
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 0px;
  color: #56123d;
  text-align: center;
  background: transparent linear-gradient(180deg, #ffffff 0%, #e6e7e8 100%) 0%
    0% no-repeat padding-box;
  box-shadow: 0px 3px 10px #00000033;
  border-radius: 15px;
  border: none;
  padding: 3px 20px;
  font-weight: 700;
  transition: 0.3s all ease-in-out;
}
.magnify-item-outer {
  width: 100%;
  height: calc(100vh - 213px);
  overflow-y: auto;
  position: relative;
}
.magnify-item-outer::-webkit-scrollbar {
  display: none;
}
.magnify-box-outer {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 10px #00000033;
  border-radius: 20px;
  padding: 20px 30px 20px 30px;
}
.magnify-box-outer .magnify-row {
  display: flex;
  width: 100%;
  margin-top: 25px;
  flex-wrap: wrap;
}
.magnify-box-outer .magnify-row::-webkit-scrollbar {
  display: none;
}
.magnify-box-outer .magnify-row .magnify-item {
  max-width: 23%;
  width: 100%;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 10px #00000034;
  border-radius: 25px;
  text-align: center;
  padding: 20px 20px;
  margin: 0 7px 23px;
}
.magnify-box-outer .magnify-row .magnify-item .magnify-image video {
  width: 100%;
  object-fit: cover;
  box-shadow: 0px 3px 10px #00000034;
  border-radius: 25px;
}
.magnify-box-outer .magnify-row .magnify-item .magnify-image video:focus {
  border: none;
}
.magnify-box-outer .magnify-row .magnify-item .magnify-image img {
  max-width: 100%;
}
.magnify-box-outer .magnify-row .magnify-item .magnify-image iframe {
  width: 100%;
  border: none;
}
.mangnify-right-box {
  max-width: 100%;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 10px #00000033;
  border-radius: 20px;
  opacity: 1;
  padding: 20px 30px;
  height: calc(100vh - 123px);
  overflow-y: auto;
}
.mangnify-right-box::-webkit-scrollbar {
  display: none;
}
.box-list {
  margin-top: 10px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 10px #00000033;
  border-radius: 20px;
  padding: 20px;
  overflow-y: scroll;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.plus_icon {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
}
.plus_icon .bar-icon {
  color: #ccc;
}
.plus_icon:hover .bar-icon {
  color: #3362a3;
}
.mangnify-right-box .box-list::-webkit-scrollbar {
  display: none;
}
/*new css */
.magnify-info {
  margin-top: 9px;
}

.magnify-info p {
  color: #707070;
  text-align: left;
  font-size: 16px;
  line-height: 19px;
  font-weight: 500;
  margin-bottom: 9px;
}
.item-status {
  display: flex;
  justify-content: space-between;
  background: #3362a31c 0% 0% no-repeat padding-box;
  border-radius: 14px;
  padding: 7px 20px;
}
.item-status .item-views {
  width: 90%;
}
.item-status .item-pern {
  width: 10%;
}
.item-status p {
  margin-bottom: 0px;
}
.no-bg {
  background: #f7f7f7 0% 0% no-repeat padding-box !important;
}
.magnify-payment {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}
.magnify-payment .magnify-image {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.magnify-payment .magnify-image :last-child {
  margin-right: 0;
}
.magnify-payment .magnify-image img {
  cursor: pointer;
}
.magnify-payment .magnify-pay button {
  border-radius: 25px;
  padding: 3px 15px;
  color: #fff;
  font-size: 20px;
  background: transparent;
  font-weight: 600;
  border: none;
}
.magnify-payment .magnify-pay button:hover {
  background: transparent;
}
.magnify-heart {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 10px #00000033;
  width: 30px;
  height: 30px;
  padding: 4px;
  border-radius: 50%;
  margin-right: 10px;
  cursor: pointer;
  position: relative;
}
.magnify-heart .svg-inline--fa {
  margin-bottom: 0;
  color: #3362a3;
}
.magnify-heart:hover {
  background: #3362a3 0% 0% no-repeat padding-box;
}
.magnify-heart:hover .svg-inline--fa {
  color: #fff;
}
.magnify-heart.active {
  background: #56123d 0% 0% no-repeat padding-box;
}

.magnify-heart.active .svg-inline--fa {
  color: #3362a3;
}

.magnify-cross {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 10px #00000033;
  width: 30px;
  height: 30px;
  padding: 4px;
  border-radius: 50%;
  margin-right: 10px;
  cursor: pointer;
  position: relative;
}
.magnify-cross .svg-inline--fa {
  margin-bottom: 0;
  color: #3362a3;
}
.magnify-cross:hover {
  background: #b0865a 0% 0% no-repeat padding-box;
}
.magnify-cross:hover .svg-inline--fa {
  color: #fff;
}
.magnify-cross:active {
  background: #56123d 0% 0% no-repeat padding-box;
}
.magnify-cross:active .svg-inline--fa {
  color: #ab8760;
}
.magnify-cross img {
  width: 65%;
}
.magnify-image {
  position: relative;
}
.hover-icon {
  width: 66px;
  height: 66px;
  border-radius: 50%;
  opacity: 1;
  background: #ffffff80 0% 0% no-repeat padding-box;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}
.magnify-image:hover .hover-icon {
  display: block;
}

.flip-btn {
  perspective: 1000px;
  position: relative;
  width: 110px;
  height: 36px;
}

.flip-btn-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* .flip-btn:hover .flip-btn-inner, */
.flip-btn-inner.swap {
  transform: rotateX(180deg);
}

.flip-btn-front,
.flip-btn-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  left: 0;
  top: 0;
  overflow: hidden;
  border-radius: 25px;
  line-height: 36px;
}

.flip-btn-front {
  background-color: #56123d;
  color: white;
}

.flip-btn-back {
  color: white;
  transform: rotateX(180deg);
  background-color: #5dbeb8;
}

.description-inner {
  display: flex;
  align-items: center;
}
.description-inner .value-drp {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 10px #00000034;
  border-radius: 22px;
  padding: 10px 25px;
  border: none;
  color: #707070 !important;
  font-weight: 700;
}
.description-inner .value-drp:hover {
  background-color: transparent !important;
  color: #707070 !important;
  border: none;
}
.description-inner .value-drp:focus {
  background-color: transparent !important;
  border: none !important;
  box-shadow: 0px 3px 10px #00000034 !important;
  color: #707070 !important;
}
.description-inner .value-drp:active {
  background-color: transparent !important;
  color: #707070 !important;
  border: none;
}

/* loader CSS */
.custom-loader {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
body .spinner-border {
  width: 4.5rem;
  height: 4.5rem;
  border-color: #56123d;
  border-right-color: transparent;
}

.mangnify-right-box .recharts-wrapper {
  background: #fff;
  border-radius: 50%;
  padding: 20px 0;
  height: 285px !important;
  width: 285px !important;
  align-items: center;
  display: flex;
  justify-content: center;
  box-shadow: 0px 3px 10px #00000034;
  position: relative;
}
.mangnify-right-box .recharts-wrapper:before {
  position: absolute;
  content: "";
  width: 200px;
  height: 200px;
  background: #fff;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  margin: 0 auto;
  box-shadow: inset 0px 1px 12px rgb(0 0 0 / 15%);
}
.mangnify-right-box svg.recharts-surface {
  position: relative;
  width: 273px;
  height: 260px;
}

@media only screen and (max-width: 1700px) {
  .magnify-info p {
    font-size: 12px;
  }
}
@media only screen and (max-width: 1600px) {
  .flip-btn {
    width: 100px;
    height: 36px;
  }
  .magnify-item-outer {
    width: 100%;
    height: calc(100vh - 232px);
    overflow-y: auto;
  }
  .flip-btn-inner .flip.flip-btn-front,
  .flip-btn-inner .flip-btn-back {
    line-height: 31px;
  }
  .mangnify-right-box svg.recharts-surface {
    width: 186px !important;
    height: 177px !important;
  }
  .mangnify-right-box .recharts-wrapper:before {
    width: 140px !important;
    height: 140px !important;
  }
  .mangnify-right-box .recharts-wrapper {
    height: 194px !important;
    width: 194px !important;
  }
}
.stripe-button-el span {
  width: 500px;
}
@media only screen and (max-width: 1366px) {
  .magnify-outer .title {
    max-width: 69% !important;
  }
  .magnify-box-outer .magnify-row .magnify-item {
    min-height: 314px;
  }
  .flip-btn {
    width: 98px;
  }
  .mangnify-right-box svg.recharts-surface {
    width: 186px !important;
    height: 177px !important;
  }
  .mangnify-right-box .recharts-wrapper:before {
    width: 140px !important;
    height: 140px !important;
  }
  .mangnify-right-box .recharts-wrapper {
    height: 194px !important;
    width: 194px !important;
  }
}
@media only screen and (max-width: 992px) {
  .magnify-box-outer .magnify-row .magnify-item {
    max-width: 250px !important;
    margin: 0 auto 23px;
  }
  .mangnify-right-box svg.recharts-surface {
    width: 186px !important;
    height: 177px !important;
  }
  .mangnify-right-box .recharts-wrapper:before {
    width: 140px !important;
    height: 140px !important;
  }
  .mangnify-right-box .recharts-wrapper {
    height: 194px !important;
    width: 194px !important;
  }
}
@media only screen and (max-width: 767px) {
  .magnify-outer .title {
    max-width: 100% !important;
    margin-bottom: 20px;
  }
}
