/*--- Login CSS Start ---*/
.log-container {
  max-width: 1170px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}

.forget-password-link {
  text-align: center;
  font: normal normal normal 16px/22px Montserrat;
  letter-spacing: 0px;
  color: #0099cd;
  margin-top: 24px;
}
.forget-password-link a {
  color: #0099cd;
}

@media (max-width: 767px) {
  .log-container {
    padding-left: 47px;
    padding-right: 47px;
  }
}
.btn-secondary:hover {
  transition: 0.5s all ease;
  background: linear-gradient(270deg, #5bc3b2 0%, #0099cd 100%) 0% 0% no-repeat
    padding-box;
  border: 2px solid transparent;
  color: #ffffff;
}

.btn-secondary {
  background: #ffffff;
  border: 2px solid #0099cd;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: 1;
  font-weight: bold;
  color: #ffffff;
  font-family: "Nunito", sans-serif;
  text-transform: uppercase;
  font: Bold 18px/33px Nunito;
  letter-spacing: 0px;
  color: #0099cd;
  max-width: 230px;
  height: 30px;
  margin: 0 auto;
}

@media (max-width: 767px) {
  .btn-secondary {
    border: 1px solid #0099cd;
    border-radius: 15px;
    max-width: 166px;
    height: 25px;
    font-size: 14px;
  }
}

.login-wrap {
  padding: 60px 0;
  display: flex;
  align-items: center;
  flex: 1 0 auto;
}

@media (max-width: 767px) {
  .login-wrap {
    /* padding-top: 25%; */
    padding-bottom: 6%;
  }
}

.signup-wrap {
  padding: 0px 0;
  overflow: hidden;
  min-height: 80vh;
}
.login-image img {
  width: 100%;
}
.logForm .logo {
  margin-bottom: 40px;
  text-align: center;
}

@media (max-width: 767px) {
  .logForm .logo {
    margin-bottom: 1.2em;
  }
}

.logForm .logo img {
  width: 100%;
}
.logForm {
  margin: 0 auto;
  max-width: 485px;
  width: 100%;
}
.logForm .form-group {
  margin-bottom: 10px;
}

@media (max-width: 767px) {
  .logForm .form-group {
    margin-bottom: 10px;
  }
}

.logForm .form-control {
  height: 51px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 2px solid #939598;
  border-radius: 26px;
  opacity: 1;
  letter-spacing: 0px;
  width: 100%;
  padding: 0;
  text-align: center;
  font-size: 26px;
  line-height: 1.1;
  letter-spacing: 0px;
  color: #0099cd;
  opacity: 1;
  padding: 7px 10px;
}

.form-group input {
  /* min-width: 500px; */
}
.logForm .btn-primary {
  max-width: 320px;
  height: 55px;
  border-radius: 54px;
}
.logForm input:placeholder {
  text-align: center;
  color: #939598;
}
/* .logForm input:focus {
  outline: none;
  box-shadow: none;
  border-color: #0099cd;
} */
.logForm .form-check {
  padding: 0 10px;
  margin-top: 20px;
}

.form-check {
  text-align: center;
  margin-bottom: 30px;
}

.form-check input {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}
.form-check label {
  position: relative;
  cursor: pointer;
  text-align: center;
  font: Regular 16px/19px Montserrat;
  letter-spacing: 0px;
  color: #0099cd;
  opacity: 1;
}
.form-check label a {
  color: #0099cd;
  text-decoration: underline;
}
.form-check label:before {
  content: "";
  -webkit-appearance: none;
  background-color: #fff;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 10px;
  width: 20px;
  height: 20px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 3px solid #5bc3b2;
  border-radius: 5px;
}

@media (max-width: 767px) {
  .form-check label:before {
    border: 1px solid #0099cd !important;
  }
}

@media (max-width: 371px){
  .form-check label:before {
    float: left;
  }
}
.form-check input:checked + label:after {
  content: "";
  display: block;
  position: absolute;
  top: 8px;
  left: 7px;
  width: 6px;
  height: 12px;
  border: solid #0051a1;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}
.form-check input:checked + label:before {
  background-color: #5bc3b2;
}
.logForm .btn-primary {
  margin: 0 auto;
  height: 55px;
}

.log-footer {
  margin-top: 40px !important;
  padding-top: 40px !important;
  border-top: 1px solid #939598;
  text-align: center !important;
  margin-bottom: 40px;
}

@media (max-width: 767px) {
  .log-footer {
    border-top: 0.5px solid #bdbec0;
    margin-top: 20px !important;
    padding-top: 15px !important;
    margin-bottom: 0px;
  }
}
.forgot-group label {
  text-align: left;
  font-size: 20px;
  margin-bottom: 12px;
  letter-spacing: 0px;
  color: #0099cd;
  opacity: 1;
  font-weight: 400;
}

@media (max-width: 767px) {
  .forgot-group label {
    font-size: 12px;
    margin-bottom: 10px;
  }
}
.forgot-group .btn-primary {
  max-width: 330px;
  height: 55px;
  margin: 0 auto;
}

.logo {
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
}

/* .logo p {
  text-align: center;
  font-size: 20px;
  line-height: 1.1;
  font-weight: 700;
  margin: 12px 0 0 0;
  letter-spacing: 0px;
  color: #0099CD;
  opacity: 1;
  font-family: "Nunito", sans-serif;
  margin-top: 35px;
} */

.login-footer {
  font-family: Montserrat;
  font-size: 12px;
  margin-bottom: 20px;
  letter-spacing: 0px;
  color: #939598;
  text-transform: uppercase;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 55px;
  flex-shrink: 0;
}

.login-footer a {
  color: #939598;
}

@media (max-width: 767px) {
  .login-footer {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 8px;
  }

  .login-footer a {
    font-size: 10px;
    color: #939598;
  }
}

@media (max-width: 767px) {
  .rememberMeSection {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
  }
}

/*-- special header for login/signup area --*/

.login-header {
  display: block;
  height: 90px;
  width: 100%;
  background: transparent
    linear-gradient(
      90deg,
      var(--unnamed-color-5bc3b2) 0%,
      var(--unnamed-color-0099cd) 100%
    )
    0% 0% no-repeat padding-box;
  background: transparent linear-gradient(90deg, #5bc3b2 0%, #0099cd 100%) 0% 0%
    no-repeat padding-box;
  opacity: 1;
}

.login-header .logo img {
  display: none;
}

@media (max-width: 767px) {
  .login-header {
    height: 3.75em !important;
    width: 100%;
    background: transparent
      linear-gradient(
        90deg,
        var(--unnamed-color-5bc3b2) 0%,
        var(--unnamed-color-0099cd) 100%
      )
      0% 0% no-repeat padding-box;
    background: transparent linear-gradient(90deg, #5bc3b2 0%, #0099cd 100%) 0%
      0% no-repeat padding-box;
    opacity: 1;
    display: block;
  }

  .login-header .logo {
    text-align: center !important;
    padding-top: 8px;
  }

  .login-header .logo img {
    max-width: 70%;
    display: flex;
  }
}

@media (max-width: 767px) {
  .loginFormSpacing {
    margin-top: 40px;
  }
}

/*--- Login CSS End ---*/

/*--- Responsive CSS End ---*/
